@import "tailwindcss";

:root {
  --web-background: #ffee8c13;
  --web-yellow-color: #fedb57;
  --web-black-color: #212121;
  --web-black-second-color: #333333;
  --web-gray-color: #d9d9d9; 
}

body {
  background-color: var(--web-background);
}

